h1 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}
h2 {
  text-align: center;
  color: #ffffff;
  font-size: 70px;
}
p {
  color: ;
  font-family: fantasy;
}
.popular {
  font-style: italic;
  color: blue;
}
ol {
  font-family: cursive;
}
body {
  background-image: url("images/lion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  height: 100%;
}
.tropical {
  color: #00755e;
}
img {
  float:  none;
  width: 200px;
  height: 100px;
}
.sidebar {
  width: 30%;
  height: 30%;
  float:  right;
  background-color: white;
}
.column {
  width: 350px;
  float: right;
}
